/* reset & default */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin: 0; padding: 0; border: 0; outline: 0; background: transparent; font-size: 100%; vertical-align: baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {background: #fff; color: #000; font-family: 'Arial', Helvetica, sans-serif; font-size: 11px; line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}
ins {text-decoration: none;}
del {text-decoration: line-through;}
abbr[title], dfn[title] {border-bottom: 1px dotted; cursor: help;}
table {border-collapse: collapse; border-spacing: 0;}
sup {vertical-align: text-top;}
sub {vertical-align: text-bottom;}
h1 {font-size: 20px;}
h2 {font-size: 18px;}
h3 {font-size: 16px;}
h4 {font-size: 14px;}
h5 {font-size: 12px;}
a {color: #000; text-decoration: none; cursor:pointer}
a:hover {color: #000;}
a:active {color: #000;}
a:visited {color: #000;}
:focus {outline: 0;}

/* common */
.width-1 {}
.list-1 {}
.color-1 {}
.left {float: left;}
.right {}
.hidden {display: none;}
.invisible {visibility: hidden;}

.fck {overflow: hidden; line-height: 16px;}
	.fck ul, .fck ol {margin: 0 0 10px 0;}
		.fck ul li {margin: 0; padding: 0 0 10px 0; list-style: inside; list-style-type: disc;}
		.fck ol li {margin: 0; padding: 0 0 10px 0; list-style: inside; list-style-type: decimal !important;}
.fck-1 {}
.fck-2 {}		
    
/* form */
.form-1 {}
.input-1 {}
.checkbox-1 {}
.select-1{overflow:hidden; float:left; border:1px solid #494848; position:relative; width:90px; margin: 0 10px; height: 22px;}
	.select-1 span{float:left; padding: 6px 7px; width: 80px; color:#fff; font-size:12px}
	.select-1 a {width: 8px; height: 23px; background:url(../images/ico-arrow.png)0 0 no-repeat;  position: absolute; top: 50%; right: 5px; z-index: 2; margin-top:-3px}
	.select-1 select{width:100%; height:23px; line-height:20px; font-size:11px; position:absolute; top: 0; left: 0;  visibility:visible; border:none; background:none; z-index: 10;-webkit-appearance: none; opacity:0; filter:alpha(opacity=0); cursor:pointer}	
.textarea-1 {}

/* structure */
#container {width: 100%; overflow: hidden; background: url(../images/bgd-body.png) 0 0 repeat-x;}
	#container .inner {width:980px; margin:0 auto; overflow:hidden;}
	#header {width: 100%; color:#fff; position: relative; height:88px}
		#header .logo {display:block; float:left;padding: 25px 0 0 0;}
		#header .right {overflow:hidden; padding:15px 0}
		#header .right .block-1 {overflow:hidden; padding:0 0 5px 0; float:right; }
			#nav {overflow:hidden; float:right; width:655px}
				#nav li {float: left;}
				#nav li.current a, #nav li a:hover{background:url(../images/bgd-nav-hover.png)50% 0 no-repeat; }
					#nav li a{font-size: 14px; color:#fff; font-size:12px; text-transform:uppercase; display:block;  padding:15px}	
	#main {width: 100%; overflow: hidden; margin: 10px auto 30px; background:url(../images/bgd-main.png)0 100% repeat-x}
		#main .inner {background:url(../images/bgd-inner-main.png); background-position:0 100%; background-repeat:no-repeat; padding: 0 0 17px 0;}
		#main .content {width:978px; overflow:hidden; border:1px solid #dcdcdc; padding: 0 0 55px 0;}
        #main .single {background: #fff;}
	#footer {width:100%; overflow:hidden}
		#footer .under-footer {background:#f5f5f5; overflow:hidden}
		#footer .under-footer .inner {width:980px; margin:0 auto; overflow:hidden; padding:20px 0}
				.under-footer .nav li{display:block; float:left; width:245px; overflow:hidden}
				.under-footer .nav h2 {background:url(../images/bgd-title-footer.png) 0 100% no-repeat; width:215px; padding:0 0 18px 20px; margin:0 10px 20px 0 }
                .under-footer .nav ul {padding:0 0 0 20px}
                .under-footer .nav ul li{float:none; background:url(../images/bgd-list-item.jpg) 0 5px no-repeat; padding:0 0 10px 15px; font-size:13px;}
                .under-footer .nav .social-network {padding: 0px;}
                .under-footer .nav .social-network li {background: none; padding: 0px; list-style: none;}
                .under-footer .nav .open-hours {overflow:hidden; padding:0 0 0 20px}
                .under-footer .nav .open-hours li {padding:0 0 10px 0; font-size:13px; background: none}
		#footer .upper-footer {background:#000; overflow:hidden; height:50px}
		#footer .upper-footer .inner {width:980px; margin:0 auto; overflow:hidden; color:#fff; font-size:12px; padding:20px 0 0 0}
		#footer p {}
.search-form {overflow:hidden; float:left; border:1px solid #494848; color:#fff}
.search-form input[type="text"] {border:none; background:none; color:#fff; padding:2px 10px; display:block; float:left}
.search-form input[type="submit"] {background: url(../images/icon-search.png) 0 5px no-repeat; width:20px; height: 20px; border:none; display:block; float:left}
.phone {display:block; float:left; font-size:21px; color:#008845; background:url(../images/bgd-phone.png)0 0 no-repeat; padding:3px 0 0 20px}
/* page */
.page-1 {} /* news, article page */
.page-2 {} /* product page */
.page-3 {} /* about us page */

.block-2 {overflow:hidden;}
.block-2 .slideshow {overflow:hidden; width:245px; margin:0 10px 20px 0; position:relative; padding:0 0 10px 0}
.block-2 .slideshow .shadow {display:block; width:100%; background:url(../images/bgd-shadow.png)0 0 no-repeat; height:100px; position:absolute; bottom:0; left:0}
.block-2 .slideshow.last {margin:0}
.block-2 .slideshow h3 {font-size:15px; text-transform:uppercase; background:#0191ce; color:#fff; padding:15px 0 15px 20px}
.block-2 .slideshow .inner-slideshow {border:1px solid #dcdcdc;position:relative; overflow:hidden; background:#fff}
.block-2 .slideshow .inner-slideshow li {display:block; float:none; background:url(../images/line-1.png)0 100% no-repeat; height: 215px;padding: 10px; width:218px; text-align:center}
.block-2 .slideshow .inner-slideshow li.last {background:none}
.block-2 .slideshow .inner-slideshow .next, .slideshow .inner-slideshow .previous {background-image:url(../images/btn-slideshow.png); background-position:0 0; background-repeat: no-repeat; width:38px; height:38px; top:50%; left:12px; display:block; text-indent:-10000px; margin-top:-19px; position:absolute}
.block-2 .slideshow .inner-slideshow .next {background-image:url(../images/btn-slideshow.png); background-position:100% 0; background-repeat:no-repeat; right:12px; left:auto}
.block-2 .slideshow .desc {overflow:hidden; text-align:center; width:100%; padding:5px 0 0 0}
.block-2 .slideshow .desc h5{font-size:12px; color:#868686; font-weight:normal; line-height:normal; padding:0 0 15px 0}
.block-2 .slideshow .desc .cost {font-size:12px; color:#0176cc}



.slideshow {background-image: url(../images/wi-frame.png); background-position: 0 0; background-repeat: no-repeat; position: relative;}
	.slideshow .preview {overflow: hidden;}
		.slideshow .preview ul {width: 10000px;}
		.slideshow .preview ul li {float: left;}
	.slideshow .thumb { background-image:url(../images/bgd-thumb.png); background-position: 0 0; background-repeat:repeat-x; height:60px; overflow: hidden; width: 100%; position: absolute; right: 0; bottom: 0px; text-align:center}
		.slideshow .thumb .inner-thumb {overflow: hidden; width:260px; margin:0 auto; padding:10px 0; position:relative}
		.slideshow .thumb .inner-thumb .preview {width:220px; margin:0 auto}
		.slideshow .thumb ul {overflow: hidden; width: 10000px;}
		.slideshow .thumb ul li {float: left; padding:0 7px}
		.slideshow .thumb ul li a {display:block }
		.slideshow .thumb ul li a img {width:39px; height:39px; border: 1px solid #666666}
		.slideshow .thumb .opt {width: 45px; height: 27px; position: absolute; top: 0; left: 0; background:url(../images/bgd-opt-50.png) 0 0 repeat;}
		.slideshow .thumb a:hover .opt,
		.slideshow .thumb .active a .opt {display: none;}
		.slideshow .thumb .previous, .slideshow .thumb .next {background-image:url(../images/btn-thumb.png); background-position:0 4px; background-repeat:no-repeat; width:15px; height:52px; position:absolute; top:0; left:0; display:block; text-indent:-10000px}
		.slideshow .thumb .next {left:auto; right:0; background-position:100% 4px}
		.slideshow .thumb .wi-icon-4 {position: absolute; right: 7px; top: 12px;}


#nav .sub-nav a:hover, #nav .sub-nav li.current a, #nav .sub-nav .lev-2 li a:hover, #nav .sub-nav .lev-2 li a:hover{color:#008bcc;}
	#nav .sub-nav{ padding: 12px 30px; left: 400px; top: 86px; position: absolute; background:#000; width: 660px; height: 215px; display:none; z-index: 99999; border-radius:0 0 4px 4px; border:1px solid #494848; 
-moz-border-radius: 0 0 4px 4px ;
-webkit-border-radius: 0 0 4px 4px ; }
	#nav .icon-arrow {display:block; background:url(../images/ico-arrow-sub-nav.png) 0 0 no-repeat; width:15px; height:15px; position:absolute; top:-14px; left:113px}
	#nav > li:hover .sub-nav{display:block}
	#nav .sub-nav li{overflow:hidden; float:none}
	#nav .sub-nav li a{ color:white; text-transform:none; font-size:12px; padding:0; background:none}
	#nav .sub-nav li a:hover {background:0}
	#nav .sub-nav .lev-1{margin: 20px 0 0 0;float: left; background:url(../images/bgd-sub-nav-level-1.png)100% 50% no-repeat; width:120px}
	#nav .sub-nav .lev-1 > li, #nav .sub-nav .lev-2 li{ padding:10px 15px 10px 0;}
	#nav .sub-nav .lev-1 > li:hover {background:none;}
	#nav .sub-nav .lev-1 > li:hover .lev-2 , #nav .sub-nav .lev-1 > li.current .lev-2{display:block}
	#nav .sub-nav .lev-2{width: 490px;top:30px;position: absolute;left: 130px; display:none; padding-left:40px}
	#nav .sub-nav .lev-2 li a{color:#fff}
	#nav .sub-nav .lev-1 > li:hover .sub-nav-lev2 , #nav .sub-nav .lev-1 > li.current .sub-nav-lev2, #nav {display:block}
	
	#nav .sub-nav .list-control{ bottom: 3px;  display: none; position: absolute; right: 10px;  z-index: 2;}
	#nav .sub-nav .list-control li{float:left; padding: 0 0 0 4px;}
	#nav .sub-nav .list-control li a {padding:0; border: none;}
	#nav .sub-nav .list-control li a.wi-icon:hover { background:transparent url(../images/wi-icon-hover.png) no-repeat;padding:0;box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none; border: none;}
	
	#nav .sub-nav .sub-nav-lev2{display: none; height: 258px; padding: 40px 0 0; position: absolute; right: 20px;top: 0; z-index: 1;}
	#nav .sub-nav .sub-nav-lev2 img {display:block; border:1px solid #404040; padding:5px}
	#nav .sub-nav .active .sub-nav-lev2 {display:block; }
	#nav .sub-nav .active .list-control{display:block}
	#nav .sub-nav .lev-2 .sub-nav-lev2 img{ margin: 0 auto; display:block}
	
	
.store-header {overflow:hidden; width:100%}
.store-header .masthead {overflow:hidden; padding: 0 0 10px 0; border-bottom:1px solid #e3e2e2}
			  .masthead h2 {text-transform:uppercase; font-size:25px; font-weight:normal;  border-left:1px solid #000; padding:0 0 0 10px; margin:3px 0 0 10px; float:left}
			  .masthead .ico-apple {background:url(../images/ico-apple.png)0 0 no-repeat; width:24px; height:28px; float:left; display:block; text-indent:-10000px;}

.breadcrumbs{overflow:hidden; width:100%; padding:5px 0}
.breadcrumbs li{float:left; padding:0 5px; display:block; background-image:url(../images/ico-arrow-breadcrumb.png); background-position:100% 5px; background-repeat: no-repeat}
.breadcrumbs li.last {background:0; font-size: 12px; line-height: 20px;}
.breadcrumbs li.last span {color:#000}
.breadcrumbs li span, .breadcrumbs li a{display:block;padding:0 6px;color:#005596; font-size:12px; line-height:20px}
.breadcrumbs li.level-1 a{background-image:url(../images/ico-home.png); background-position: 0 1px; background-repeat: no-repeat;overflow:hidden; width:17px; display:block; text-indent:-10000px}
.breadcrumbs li a:hover{color:#000}

.product-details-block .product-details {overflow:hidden; width:700px; float:right; padding: 0px; }
.product-details {padding: 20px;}
.product-details h2.title {font-size:25px; font-weight:normal; border-bottom:1px solid #eaeaea; overflow:hidden; padding: 0 0 15px 0;}
.product-details .item-choose {overflow:hidden}
.product-details .item-choose span {background-image:url(../images/ico-circle.png); background-position:0 0; background-repeat: no-repeat; width:29px; height:23px; display:block; color:#fff; text-align:center; padding:6px 0 0 0; font-size:18px; float:left; margin:0 10px 0 0}
.product-details .item-choose h3 {float:left; line-height:28px; font-size:25px; font-weight:normal}
.product-details .choose-block {overflow:hidden; width:100%; padding: 20px 0;}
.product-details .choose {overflow:hidden; padding:0 0 30px 0}

.products {overflow:hidden; background:#fff; border-left:1px solid #d9d9d9; border-bottom:1px solid #d9d9d9}
.products li {display:block; float:left; border-top:1px solid #d9d9d9; border-right:1px solid #d9d9d9; width:325px; height:180px}
.products .desc {float:left; width:150px; overflow:hidden}
.products .inner-pro .frm-1 {width:135px; height:140px; display:block; float:right}
.products .desc h5{font-size:12px}
.products .desc .product-rating {overflow:hidden; padding:10px 0}
.products .desc .product-rating li {display:block; float:left; padding:0 5px 0 0; border:none; width:11px; height:11px}
.products .desc .product-rating li a{display:block; background-image:url(../images/bgd-star.png); background-position:-20px 0; background-repeat:no-repeat; width:11px; height:11px; }
.products .desc .product-rating li a:hover, .products .desc .product-rating li.rating a {background-image:url(../images/bgd-star.png); background-position:0 0; background-repeat:no-repeat;}
.products .desc span {display:block; padding:0 0 7px 0; font-size:12px}
.products .desc span.cost{color:#dd0000; font-weight:bold}

#main .products .inner-pro {overflow:hidden; padding:20px}
#main .products .btn-buy {display:block; background-image:url(../images/btn-buy.png); background-position:0 0; background-repeat:no-repeat; width:102px; height:29px; margin:15px 0 0 0}
#main .products .btn-buy a{display:block; font-weight:bold; color:#fff; padding:8px 0 0 35px}
#main .products .btn-buy a:hover {color:#dcdcdc}

.social-network {overflow:hidden; padding:0 0 0 20px}
.social-network li {padding:0 0 10px 0; font-size:12px}
.social-network li span {line-height:22px}
.social-network li a:hover {color:#0090D3}
.social-network .ico {width:21px; height:21px; display:block; float:left; padding:0 10px 0 0}
.facebook {background-image:url(../images/ico-facebook.png); background-position:0 0; background-repeat:no-repeat; }
.google {background-image:url(../images/ico-google.png); background-position:0 0; background-repeat:no-repeat;}
.twitter {background-image:url(../images/ico-twitter.png); background-position:0 0; background-repeat:no-repeat;}
.youtube {background-image:url(../images/ico-youtube.png); background-position:0 0; background-repeat:no-repeat;}


.product-block {overflow:hidden; width:100%}
.product-block .header {overflow:hidden; width:100%}
.product-block .sort-form{float:left; overflow:hidden; padding:5px 0 0 20px}
.product-block .sort-form label {position: absolute;
white-space: nowrap;
vertical-align: middle;
font-size: 10px;
color: #666;
}
.product-details-block {background: #fff; overflow:hidden; padding:30px 10px 0}
.product-block .cluster-view {position: absolute; vertical-align: middle; white-space: nowrap; right: 0; top:2px; width: 107px; height: 31px;}
.choose {overflow:hidden; width:100%}
.choose .option {overflow:hidden; padding:30px 0 0 0}
.choose .option li {display:block; float:left; background-image:url(../images/frame-1.png); background-position: 0 0; background-repeat:no-repeat; width:295px; height:185px; padding:0 15px 0 0; overflow:hidden}
.choose .option li:hover {background-image:url(../images/frame-1-hover.png); background-position:0 0 ; background-repeat:no-repeat; height:185px}
.choose .option li.last {padding:0}
.choose .option .wrp-img {width:160px; float:left; display:block; overflow:hidden; text-align:right; padding:15px 30px 0 0}
.choose .option img {max-width:200px; height:auto;}
.choose .option .value {}
.choose .option .value span {display:block; font-size:16px; padding:0 0 5px 0}
.choose .option .value span.price {color:#838383; font-size:11px}
.choose-model .option .value {text-align:center; display:block}
.choose-model .option .value span:first-child {background-image:url(../images/bgd-model.png); background-position:0 0; background-repeat:no-repeat; width:122px; height:35px; margin:20px auto 25px; padding:15px 0 0 0; font-size:20px; text-transform:uppercase}
.choose-model .option .value span.price {font-size:25px;}
.choose-model .option .value span {color:#838383; font-size:14px; padding:0 0 12px 0}

.choose .option .value{overflow:hidden; display:table; height:167px;}
.value{display:table;overflow:hidden;margin:0px auto;} 
.wrap-val{display:table-cell;vertical-align: middle;}  
 
*:first-child+html .value {position:relative;}/*ie7*/ 
*:first-child+html .wrap-val{position:absolute;top:50%;}/*ie7*/ 
*:first-child+html .inner-val{position:relative;top:-50%;}/*ie7*/

#main .home.inner {background:none}
.home .slideshow {overflow:hidden; width:980px; position:relative; width:#fff; position:relative; background:0;}
.home .slideshow ul {width:3000px}
.home .slideshow ul li {display:block; float:left}
.home .slideshow .pagination{z-index:10; position: absolute; bottom: 20px; left:50%; width:70px; text-align:center; padding-bottom:10px; margin-left:-35px}
.home .slideshow .pagination a{background-image:url(../images/bgd-pagination.jpg); background-repeat:no-repeat; background-position:0 0; width: 13px; height: 13px;display:block; float:left; text-indent:-10000px; padding:0 10px 0 0}
.home .slideshow .pagination a:hover, .home .slideshow .pagination a.selected {background-position:-27px 0}

.promos {width:100%; overflow:hidden;}
.promos li {display:block; float:left; background-image:url(../images/frame-2.png); background-position:0 0; background-repeat: no-repeat; width:240px; height:200px; padding:0 6px 0 0; text-align:center}
.promos li.last {padding:0}
.promos .desc {overflow:hidden; text-align:center; padding:10px}
.promos .desc h2{font-size:17px; color:#005596; padding:0 0 5px 0}
.promos .desc p {font-size:13px; color:#858585; line-height:normal}
.promos img {max-width:233px; height:auto}

.sort-block {background-image:url(../images/bgd-sort.png); background-position:0 0; background-repeat:no-repeat; width:980px; height:38px; position:relative}
.sort-block #gridview {background-image:url(../images/bgd-gridview.jpg); background-position:0 0; background-repeat:no-repeat; display:block; text-indent:-10000px; width:53px; height:33px}
.sort-block #gridview:hover, .sort-block li.active #gridview{background-image:url(../images/bgd-gridview-active.jpg); background-position:0 0; background-repeat:no-repeat;}
.sort-block #listview {background-image:url(../images/bgd-listview.jpg); background-position:0 0; background-repeat:no-repeat; display:block; text-indent:-10000px; width:52px; height:33px}
.sort-block #listview:hover ,.sort-block li.active #listview {background-image:url(../images/bgd-listview-active.jpg); background-position:0 0; background-repeat:no-repeat;}
.cluster-view li {display:block; float:left}

.blogs li {border-bottom: 1px solid #ccc; overflow: hidden; padding-bottom: 10px;}
.blogs li.last {border-bottom: none; padding-bottom: 0px;}
.blogs li h2 {padding: 10px 0px}
.blogs .description {font-size: 14px; line-height: 20px;}
.blogs .description .thumbnail{float: left; padding-right: 5px;}

.fck {font-size: 14px;}
.navigation {height: 30px; padding: 15px 0 0 15px;}
.single .navigation {padding-left: 30px;}
span.cost {color: #0376C9;}
.hidden {display: none !important;}